{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">{{user.first_name}} Certificates</h1>
<ul class="list-group list-group-flush" id="certs">
  {% for cert in user.certs %}
  <li class="list-group-item">
    {{ cert.data }}
    <button type="button" class="close" onClick="deletecert({{ cert.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="cert" id="cert" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Certificate</button>
  </div>
</form>
{% endblock %}
